# Table Creation

In PostgreSQL:

DROP TABLE IF EXISTS NFL_Basic;

CREATE TABLE NFL_Basic ( 
 	"Game ID" VARCHAR(10),
 	"Date" VARCHAR(10),
 	"Away Team" VARCHAR(40) NOT NULL,
 	"Away Score" VARCHAR(10),
 	"Away Spread Open" VARCHAR(10),
	"Away Spread Open Odds" VARCHAR(10),
	"Away Spread Close" VARCHAR(10),
	"Away Spread Close Odds" VARCHAR(10),
	"Away MoneyLine Open" VARCHAR(10),
	"Away MoneyLine Close" VARCHAR(10),
	"Over Open" VARCHAR(10),
	"Over Open Odds" VARCHAR(10),
	"Over Close" VARCHAR(10),
	"Over Close Odds" VARCHAR(10),
	"Home Team" VARCHAR(40) NOT NULL,
	"Home Score" VARCHAR(10),
	"Home Spread Open" VARCHAR(10),
	"Home Spread Open Odds" VARCHAR(10),
	"Home Spread Close" VARCHAR(10),
	"Home Spread Close Odds" VARCHAR(10),
	"Home MoneyLine Open" VARCHAR(10),
	"Home MoneyLine Close" VARCHAR(10),
	"Under Open" VARCHAR(10),
	"Under Open Odds" VARCHAR(10),
	"Under Close" VARCHAR(10),
	"Under Close Odds" VARCHAR(10)	
);
SELECT * FROM NFL_Basic;

In PostgreSQL:

DROP TABLE IF EXISTS main;

CREATE TABLE main (
 	game_id INT NOT NULL,
 	date DATE NOT NULL,
	season INT NOT NULL,
	week INT NOT NULL,
	day VARCHAR(3) NOT NULL,
 	away_team VARCHAR(40) NOT NULL,
 	away_score INT NOT NULL,
 	away_spread_open NUMERIC(3,1),
	away_spread_open_odds NUMERIC(4,1),
	away_spread_close NUMERIC(3,1),
	away_spread_close_odds NUMERIC(4,1),
	away_moneyline_open NUMERIC(5,1),
	away_moneyline_close NUMERIC(5,1),
	home_team VARCHAR(40) NOT NULL,
	home_score INT NOT NULL,
	home_spread_open NUMERIC(3,1),
	home_spread_open_odds NUMERIC(4,1),
	home_spread_close NUMERIC(3,1),
	home_spread_close_odds NUMERIC(4,1),
	home_moneyline_open NUMERIC(5,1),
	home_moneyline_close NUMERIC(5,1),
	total_open NUMERIC(3,1),
	total_close NUMERIC(3,1)
);

SELECT * FROM main;

In PostgreSQL

DROP TABLE IF EXISTS bye_weeks;

CREATE TABLE bye_weeks (
 	season INT,
	week INT,
	team VARCHAR(40) NOT NULL
);

SELECT * FROM bye_weeks;

In [1]:
# Dependencies and Setup
from pandasql import sqldf
import sqlite3
from sqlite3 import Error
import pandas as pd
from matplotlib import pyplot as plt
from scipy.stats import linregress
import numpy as np
import random
from datetime import datetime
import psycopg2
from sqlalchemy import create_engine
from sqlalchemy import text

In [2]:
from config import user, password, host, port, db
print(port)

5433

In [3]:
engine = create_engine(f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{db}")

## nfl_basic_df

In [4]:
# Input csv files to load
input_file_to_load = "./Resources/NFL_Basic.csv"

# Read offense, oefense, and playoffs into DataFrames
nfl_basic_df = pd.read_csv(input_file_to_load)

In [5]:
nfl_basic_df

,Game ID,Date,Away Team,Away Score,Away Spread Open,Away Spread Open Odds,Away Spread Close,Away Spread Close Odds,Away MoneyLine Open,Away MoneyLine Close,...,Home Spread Open,Home Spread Open Odds,Home Spread Close,Home Spread Close Odds,Home MoneyLine Open,Home MoneyLine Close,Under Open,Under Open Odds,Under Close,Under Close Odds
0,66,20090910,Tennessee,10,5.5,-110.0,6.5,-116.0,180,228.0,...,-5.5,-110.0,-6.5,107.0,-210,-260.0,35.0,-110.0,35.5,-104
1,67,20090913,Miami,7,4,-110.0,4,-104.0,185,190.0,...,-4,-110.0,-4,-104.0,-215,-210.0,43.0,-110.0,44.0,-107
2,68,20090913,Kansas City,24,8.5,-110.0,13,-112.0,475,570.0,...,-8.5,-110.0,-13,104.0,-600,-700.0,37.5,-110.0,36.5,-107
3,69,20090913,Philadelphia,38,1,-110.0,-1,-120.0,-130,-125.0,...,-1,-110.0,1,111.0,110,115.0,44.5,-110.0,43.5,-107
4,70,20090913,Denver,12,1,-110.0,4.5,-104.0,185,196.0,...,-1,-110.0,-4.5,-104.0,-215,-222.0,44.5,-110.0,41.0,102
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4203,4721292,20231022,Arizona,10,7,-110.0,8.5,-110.0,265,320.0,...,-7,-110.0,-8.5,-110.0,-330,-405.0,46.5,-105.0,43.5,-110
4204,4721293,20231022,L.A. Chargers,17,6,-110.0,5.5,-105.0,220,215.0,...,-6,-110.0,-5.5,-115.0,-270,-260.0,52.0,-110.0,48.5,-110
4205,4721294,20231022,Green Bay,17,-1.5,-102.0,1,-110.0,-110,100.0,...,1.5,-120.0,-1,-110.0,-106,-118.0,46.5,-105.0,44.0,-110
4206,4721295,20231022,Miami,17,2.5,-105.0,3,-118.0,120,130.0,...,-2.5,-115.0,-3,-104.0,-142,-154.0,51.5,-110.0,51.5,-105
4207,4721296,20231023,San Francisco,17,-7,-115.0,-7,100.0,-350,-310.0,...,7,-105.0,7,-122.0,280,250.0,46.5,-110.0,44.0,-110

In [6]:
print(f"nfl_basic_df row count: {len(nfl_basic_df)}")

nfl_basic_df row count: 4208

In [7]:
with engine.connect() as connection:
    result = connection.execute(text("DELETE FROM nfl_basic"))

In [8]:
nfl_basic_df.to_sql("nfl_basic",con=engine, if_exists="append",index=False)

208

In [9]:
with engine.connect() as connection:
    result = connection.execute(text("SELECT count(*) FROM nfl_basic"))
    for row in result:
        print(row)

(4208,)

## main_df

In [10]:
with engine.connect() as connection:
    result = connection.execute(text("DELETE FROM main"))

In [11]:
main_df = nfl_basic_df.copy()

In [12]:
main_df.columns

Index(['Game ID', 'Date', 'Away Team', 'Away Score', 'Away Spread Open',
       'Away Spread Open Odds', 'Away Spread Close', 'Away Spread Close Odds',
       'Away MoneyLine Open', 'Away MoneyLine Close', 'Over Open',
       'Over Open Odds', 'Over Close', 'Over Close Odds', 'Home Team',
       'Home Score', 'Home Spread Open', 'Home Spread Open Odds',
       'Home Spread Close', 'Home Spread Close Odds', 'Home MoneyLine Open',
       'Home MoneyLine Close', 'Under Open', 'Under Open Odds', 'Under Close',
       'Under Close Odds'],
      dtype='object')

In [13]:
main_df.rename(columns={  'Game ID':'game_id'
                   , 'Date':'date'
                   , 'Away Team':'away_team'
                   , 'Away Score':'away_score'
                   , 'Away Spread Open':'away_spread_open'
                   , 'Away Spread Open Odds':'away_spread_open_odds'
                   , 'Away Spread Close':'away_spread_close'
                   , 'Away Spread Close Odds':'away_spread_close_odds'
                   , 'Away MoneyLine Open':'away_moneyline_open'
                   , 'Away MoneyLine Close':'away_moneyline_close'
                   , 'Over Open':'over_open'
                   , 'Over Open Odds':'over_open_odds'
                   , 'Over Close':'over_close'
                   , 'Over Close Odds':'over_close_odds'
                   , 'Home Team':'home_team'
                   , 'Home Score':'home_score'
                   , 'Home Spread Open':'home_spread_open'
                   , 'Home Spread Open Odds':'home_spread_open_odds'
                   , 'Home Spread Close':'home_spread_close'
                   , 'Home Spread Close Odds':'home_spread_close_odds'
                   , 'Home MoneyLine Open':'home_moneyline_open'
                   , 'Home MoneyLine Close':'home_moneyline_close'
                   , 'Under Open':'total_open'
                   , 'Under Open Odds':'total_open_odds'
                   , 'Under Close':'total_close'
                   , 'Under Close Odds':'total_close_odds'
        },inplace=True)

In [14]:
main_df = main_df.drop(columns=['over_open', 'over_open_odds', 'over_close', 'over_close_odds', 'total_open_odds', 'total_close_odds'])

In [15]:
main_df.columns

Index(['game_id', 'date', 'away_team', 'away_score', 'away_spread_open',
       'away_spread_open_odds', 'away_spread_close', 'away_spread_close_odds',
       'away_moneyline_open', 'away_moneyline_close', 'home_team',
       'home_score', 'home_spread_open', 'home_spread_open_odds',
       'home_spread_close', 'home_spread_close_odds', 'home_moneyline_open',
       'home_moneyline_close', 'total_open', 'total_close'],
      dtype='object')

In [16]:
main_df['date'] = pd.to_datetime(main_df['date'], format='%Y%m%d')

In [17]:
main_df['season'] = main_df['date'].dt.isocalendar().year
main_df['week'] = main_df['date'].dt.isocalendar().week
main_df['day'] = main_df['date'].dt.isocalendar().day

In [18]:
main_df = main_df.drop(main_df[main_df.week < 36].index)

In [19]:
main_df["week"] = main_df["week"]-35

In [20]:
main_df["week"] = np.where(main_df["day"] == 1, main_df["week"]-1, main_df["week"])
main_df["week"] = np.where(main_df["day"] == 2, main_df["week"]-1, main_df["week"])
main_df["day"] = np.where(main_df["day"] == 1, "Mon", main_df["day"])
main_df["day"] = np.where(main_df["day"] == 2, "Tue", main_df["day"])
main_df["day"] = np.where(main_df["day"] == 3, "Wed", main_df["day"])
main_df["day"] = np.where(main_df["day"] == 4, "Thu", main_df["day"])
main_df["day"] = np.where(main_df["day"] == 5, "Fri", main_df["day"])
main_df["day"] = np.where(main_df["day"] == 6, "Sat", main_df["day"])
main_df["day"] = np.where(main_df["day"] == 7, "Sun", main_df["day"])

In [21]:
main_df["away_spread_open"] = np.where(main_df["away_spread_open"] == 'PK', "0", main_df["away_spread_open"])
main_df["away_spread_close"] = np.where(main_df["away_spread_close"] == 'PK', "0", main_df["away_spread_close"])
main_df["home_spread_open"] = np.where(main_df["home_spread_open"] == 'PK', "0", main_df["home_spread_open"])
main_df["home_spread_close"] = np.where(main_df["home_spread_close"] == 'PK', "0", main_df["home_spread_close"])
main_df["away_moneyline_open"] = np.where(main_df["away_moneyline_open"] == '-', "0", main_df["away_moneyline_open"])

In [22]:
column_to_move = main_df.pop("season")
main_df.insert(2, "season", column_to_move)
column_to_move = main_df.pop("week")
main_df.insert(3, "week", column_to_move)
column_to_move = main_df.pop("day")
main_df.insert(4, "day", column_to_move)

In [23]:
main_df.columns

Index(['game_id', 'date', 'season', 'week', 'day', 'away_team', 'away_score',
       'away_spread_open', 'away_spread_open_odds', 'away_spread_close',
       'away_spread_close_odds', 'away_moneyline_open', 'away_moneyline_close',
       'home_team', 'home_score', 'home_spread_open', 'home_spread_open_odds',
       'home_spread_close', 'home_spread_close_odds', 'home_moneyline_open',
       'home_moneyline_close', 'total_open', 'total_close'],
      dtype='object')

In [24]:
print(f"main_df row count: {len(main_df)}")

main_df row count: 3673

In [25]:
main_df.drop(main_df.index[(main_df["away_score"] == "Postponed")],axis=0,inplace=True)

In [26]:
print(f"main_df row count: {len(main_df)}")

main_df row count: 3672

In [27]:
main_df = main_df.dropna()

In [28]:
print(f"main_df row count: {len(main_df)}")

main_df row count: 3664

In [30]:
main_df

,game_id,date,season,week,day,away_team,away_score,away_spread_open,away_spread_open_odds,away_spread_close,...,home_team,home_score,home_spread_open,home_spread_open_odds,home_spread_close,home_spread_close_odds,home_moneyline_open,home_moneyline_close,total_open,total_close
0,66,2009-09-10,2009,2,Thu,Tennessee,10,5.5,-110.0,6.5,...,Pittsburgh,13,-5.5,-110.0,-6.5,107.0,-210,-260.0,35.0,35.5
1,67,2009-09-13,2009,2,Sun,Miami,7,4,-110.0,4,...,Atlanta,19,-4,-110.0,-4,-104.0,-215,-210.0,43.0,44.0
2,68,2009-09-13,2009,2,Sun,Kansas City,24,8.5,-110.0,13,...,Baltimore,38,-8.5,-110.0,-13,104.0,-600,-700.0,37.5,36.5
3,69,2009-09-13,2009,2,Sun,Philadelphia,38,1,-110.0,-1,...,Carolina,10,-1,-110.0,1,111.0,110,115.0,44.5,43.5
4,70,2009-09-13,2009,2,Sun,Denver,12,1,-110.0,4.5,...,Cincinnati,7,-1,-110.0,-4.5,-104.0,-215,-222.0,44.5,41.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4203,4721292,2023-10-22,2023,7,Sun,Arizona,10,7,-110.0,8.5,...,Seattle,20,-7,-110.0,-8.5,-110.0,-330,-405.0,46.5,43.5
4204,4721293,2023-10-22,2023,7,Sun,L.A. Chargers,17,6,-110.0,5.5,...,Kansas City,31,-6,-110.0,-5.5,-115.0,-270,-260.0,52.0,48.5
4205,4721294,2023-10-22,2023,7,Sun,Green Bay,17,-1.5,-102.0,1,...,Denver,19,1.5,-120.0,-1,-110.0,-106,-118.0,46.5,44.0
4206,4721295,2023-10-22,2023,7,Sun,Miami,17,2.5,-105.0,3,...,Philadelphia,31,-2.5,-115.0,-3,-104.0,-142,-154.0,51.5,51.5
4207,4721296,2023-10-23,2023,7,Mon,San Francisco,17,-7,-115.0,-7,...,Minnesota,22,7,-105.0,7,-122.0,280,250.0,46.5,44.0

In [29]:
main_df.to_sql("main",con=engine, if_exists="append",index=False)

DataError: (psycopg2.errors.NumericValueOutOfRange) numeric field overflow
DETAIL:  A field with precision 3, scale 0 must round to an absolute value less than 10^3.

[SQL: INSERT INTO main (game_id, date, season, week, day, away_team, away_score, away_spread_open, away_spread_open_odds, away_spread_close, away_spread_close_odds, away_moneyline_open, away_moneyline_close, home_team, home_score, home_spread_open, home_spread_open_odds, home_spread_close, home_spread_close_odds, home_moneyline_open, home_moneyline_close, total_open, total_close) VALUES (%(game_id)s, %(date)s, %(season)s, %(week)s, %(day)s, %(away_team)s, %(away_score)s, %(away_spread_open)s, %(away_spread_open_odds)s, %(away_spread_close)s, %(away_spread_close_odds)s, %(away_moneyline_open)s, %(away_moneyline_close)s, %(home_team)s, %(home_score)s, %(home_spread_open)s, %(home_spread_open_odds)s, %(home_spread_close)s, %(home_spread_close_odds)s, %(home_moneyline_open)s, %(home_moneyline_close)s, %(total_open)s, %(total_close)s)]
[parameters: ({'game_id': 66, 'date': datetime.datetime(2009, 9, 10, 0, 0), 'season': 2009, 'week': 2, 'day': 'Thu', 'away_team': 'Tennessee', 'away_score': '10', 'away_spread_open': '5.5', 'away_spread_open_odds': -110.0, 'away_spread_close': '6.5', 'away_spread_close_odds': -116.0, 'away_moneyline_open': '180', 'away_moneyline_close': 228.0, 'home_team': 'Pittsburgh', 'home_score': '13', 'home_spread_open': '-5.5', 'home_spread_open_odds': -110.0, 'home_spread_close': '-6.5', 'home_spread_close_odds': 107.0, 'home_moneyline_open': '-210', 'home_moneyline_close': -260.0, 'total_open': 35.0, 'total_close': 35.5}, {'game_id': 67, 'date': datetime.datetime(2009, 9, 13, 0, 0), 'season': 2009, 'week': 2, 'day': 'Sun', 'away_team': 'Miami', 'away_score': '7', 'away_spread_open': '4', 'away_spread_open_odds': -110.0, 'away_spread_close': '4', 'away_spread_close_odds': -104.0, 'away_moneyline_open': '185', 'away_moneyline_close': 190.0, 'home_team': 'Atlanta', 'home_score': '19', 'home_spread_open': '-4', 'home_spread_open_odds': -110.0, 'home_spread_close': '-4', 'home_spread_close_odds': -104.0, 'home_moneyline_open': '-215', 'home_moneyline_close': -210.0, 'total_open': 43.0, 'total_close': 44.0}, {'game_id': 68, 'date': datetime.datetime(2009, 9, 13, 0, 0), 'season': 2009, 'week': 2, 'day': 'Sun', 'away_team': 'Kansas City', 'away_score': '24', 'away_spread_open': '8.5', 'away_spread_open_odds': -110.0, 'away_spread_close': '13', 'away_spread_close_odds': -112.0, 'away_moneyline_open': '475', 'away_moneyline_close': 570.0, 'home_team': 'Baltimore', 'home_score': '38', 'home_spread_open': '-8.5', 'home_spread_open_odds': -110.0, 'home_spread_close': '-13', 'home_spread_close_odds': 104.0, 'home_moneyline_open': '-600', 'home_moneyline_close': -700.0, 'total_open': 37.5, 'total_close': 36.5}, {'game_id': 69, 'date': datetime.datetime(2009, 9, 13, 0, 0), 'season': 2009, 'week': 2, 'day': 'Sun', 'away_team': 'Philadelphia', 'away_score': '38', 'away_spread_open': '1', 'away_spread_open_odds': -110.0, 'away_spread_close': '-1', 'away_spread_close_odds': -120.0, 'away_moneyline_open': '-130', 'away_moneyline_close': -125.0, 'home_team': 'Carolina', 'home_score': '10', 'home_spread_open': '-1', 'home_spread_open_odds': -110.0, 'home_spread_close': '1', 'home_spread_close_odds': 111.0, 'home_moneyline_open': '110', 'home_moneyline_close': 115.0, 'total_open': 44.5, 'total_close': 43.5}, {'game_id': 70, 'date': datetime.datetime(2009, 9, 13, 0, 0), 'season': 2009, 'week': 2, 'day': 'Sun', 'away_team': 'Denver', 'away_score': '12', 'away_spread_open': '1', 'away_spread_open_odds': -110.0, 'away_spread_close': '4.5', 'away_spread_close_odds': -104.0, 'away_moneyline_open': '185', 'away_moneyline_close': 196.0, 'home_team': 'Cincinnati', 'home_score': '7', 'home_spread_open': '-1', 'home_spread_open_odds': -110.0, 'home_spread_close': '-4.5', 'home_spread_close_odds': -104.0, 'home_moneyline_open': '-215', 'home_moneyline_close': -222.0, 'total_open': 44.5, 'total_close': 41.0}, {'game_id': 71, 'date': datetime.datetime(2009, 9, 13, 0, 0), 'season': 2009, 'week': 2, 'day': 'Sun', 'away_team': 'Minnesota', 'away_score': '34', 'away_spread_open': '-2.5', 'away_spread_open_odds': -110.0, 'away_spread_close': '-4', 'away_spread_close_odds': -107.0, 'away_moneyline_open': '-230', 'away_moneyline_close': -215.0, 'home_team': 'Cleveland', 'home_score': '20', 'home_spread_open': '2.5', 'home_spread_open_odds': -110.0, 'home_spread_close': '4', 'home_spread_close_odds': -101.0, 'home_moneyline_open': '190', 'home_moneyline_close': 189.0, 'total_open': 39.5, 'total_close': 39.5}, {'game_id': 72, 'date': datetime.datetime(2009, 9, 13, 0, 0), 'season': 2009, 'week': 2, 'day': 'Sun', 'away_team': 'N.Y. Jets', 'away_score': '24', 'away_spread_open': '4', 'away_spread_open_odds': -110.0, 'away_spread_close': '4.5', 'away_spread_close_odds': -103.0, 'away_moneyline_open': '215', 'away_moneyline_close': 201.0, 'home_team': 'Houston', 'home_score': '7', 'home_spread_open': '-4', 'home_spread_open_odds': -110.0, 'home_spread_close': '-4.5', 'home_spread_close_odds': -105.0, 'home_moneyline_open': '-255', 'home_moneyline_close': -227.0, 'total_open': 43.0, 'total_close': 44.5}, {'game_id': 73, 'date': datetime.datetime(2009, 9, 13, 0, 0), 'season': 2009, 'week': 2, 'day': 'Sun', 'away_team': 'Detroit', 'away_score': '27', 'away_spread_open': '12', 'away_spread_open_odds': -110.0, 'away_spread_close': '14', 'away_spread_close_odds': -105.0, 'away_moneyline_open': '650', 'away_moneyline_close': 660.0, 'home_team': 'New Orleans', 'home_score': '45', 'home_spread_open': '-12', 'home_spread_open_odds': -110.0, 'home_spread_close': '-14', 'home_spread_close_odds': -103.0, 'home_moneyline_open': '-900', 'home_moneyline_close': -840.0, 'total_open': 48.5, 'total_close': 50.0}  ... displaying 10 of 3664 total bound parameter sets ...  {'game_id': 4721295, 'date': datetime.datetime(2023, 10, 22, 0, 0), 'season': 2023, 'week': 7, 'day': 'Sun', 'away_team': 'Miami', 'away_score': '17', 'away_spread_open': '2.5', 'away_spread_open_odds': -105.0, 'away_spread_close': '3', 'away_spread_close_odds': -118.0, 'away_moneyline_open': '120', 'away_moneyline_close': 130.0, 'home_team': 'Philadelphia', 'home_score': '31', 'home_spread_open': '-2.5', 'home_spread_open_odds': -115.0, 'home_spread_close': '-3', 'home_spread_close_odds': -104.0, 'home_moneyline_open': '-142', 'home_moneyline_close': -154.0, 'total_open': 51.5, 'total_close': 51.5}, {'game_id': 4721296, 'date': datetime.datetime(2023, 10, 23, 0, 0), 'season': 2023, 'week': 7, 'day': 'Mon', 'away_team': 'San Francisco', 'away_score': '17', 'away_spread_open': '-7', 'away_spread_open_odds': -115.0, 'away_spread_close': '-7', 'away_spread_close_odds': 100.0, 'away_moneyline_open': '-350', 'away_moneyline_close': -310.0, 'home_team': 'Minnesota', 'home_score': '22', 'home_spread_open': '7', 'home_spread_open_odds': -105.0, 'home_spread_close': '7', 'home_spread_close_odds': -122.0, 'home_moneyline_open': '280', 'home_moneyline_close': 250.0, 'total_open': 46.5, 'total_close': 44.0})]
(Background on this error at: https://sqlalche.me/e/14/9h9h)

In [30]:
with engine.connect() as connection:
    result = connection.execute(text("SELECT count(*) FROM main"))
    for row in result:
        print(row)

(3664,)

In [31]:
main_df.to_sql("basic",con=engine, if_exists="append",index=False)

664

In [32]:
main_df

,game_id,date,season,week,day,away_team,away_score,away_spread_open,away_spread_open_odds,away_spread_close,...,home_team,home_score,home_spread_open,home_spread_open_odds,home_spread_close,home_spread_close_odds,home_moneyline_open,home_moneyline_close,total_open,total_close
0,66,2009-09-10,2009,2,Thu,Tennessee,10,5.5,-110.0,6.5,...,Pittsburgh,13,-5.5,-110.0,-6.5,107.0,-210,-260.0,35.0,35.5
1,67,2009-09-13,2009,2,Sun,Miami,7,4,-110.0,4,...,Atlanta,19,-4,-110.0,-4,-104.0,-215,-210.0,43.0,44.0
2,68,2009-09-13,2009,2,Sun,Kansas City,24,8.5,-110.0,13,...,Baltimore,38,-8.5,-110.0,-13,104.0,-600,-700.0,37.5,36.5
3,69,2009-09-13,2009,2,Sun,Philadelphia,38,1,-110.0,-1,...,Carolina,10,-1,-110.0,1,111.0,110,115.0,44.5,43.5
4,70,2009-09-13,2009,2,Sun,Denver,12,1,-110.0,4.5,...,Cincinnati,7,-1,-110.0,-4.5,-104.0,-215,-222.0,44.5,41.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4203,4721292,2023-10-22,2023,7,Sun,Arizona,10,7,-110.0,8.5,...,Seattle,20,-7,-110.0,-8.5,-110.0,-330,-405.0,46.5,43.5
4204,4721293,2023-10-22,2023,7,Sun,L.A. Chargers,17,6,-110.0,5.5,...,Kansas City,31,-6,-110.0,-5.5,-115.0,-270,-260.0,52.0,48.5
4205,4721294,2023-10-22,2023,7,Sun,Green Bay,17,-1.5,-102.0,1,...,Denver,19,1.5,-120.0,-1,-110.0,-106,-118.0,46.5,44.0
4206,4721295,2023-10-22,2023,7,Sun,Miami,17,2.5,-105.0,3,...,Philadelphia,31,-2.5,-115.0,-3,-104.0,-142,-154.0,51.5,51.5
4207,4721296,2023-10-23,2023,7,Mon,San Francisco,17,-7,-115.0,-7,...,Minnesota,22,7,-105.0,7,-122.0,280,250.0,46.5,44.0

In [33]:
main_df.to_excel("./Output/main.xlsx")

## bye_weeks_df

In [34]:
with engine.connect() as connection:
    result = connection.execute(text("DELETE FROM bye_weeks"))

In [35]:
bye_weeks_df = (sqldf('''SELECT a.season, a.week, a.away_team as team 
                      FROM main_df as a  
                      WHERE a.week > 3 
                      AND NOT EXISTS 
                          (SELECT * 
                            FROM main_df as b 
                            WHERE a.season = b.season 
                            and a.week = b.week - 1 
                            and (a.away_team = b.away_team or a.away_team = b.home_team)  
                            ) 
                      UNION 
                      SELECT a.season, a.week, a.home_team 
                              FROM main_df as a  
                              WHERE a.week > 3 
                              AND NOT EXISTS 
                                  (SELECT * 
                                    FROM main_df as b 
                                    WHERE a.season = b.season 
                                    and a.week = b.week - 1 
                                    and (a.home_team = b.away_team or a.home_team = b.home_team)  
                                    ) 
                                    '''))
bye_weeks_df

     season  week           team
0      2009     4        Arizona
1      2009     4        Atlanta
2      2009     4       Carolina
3      2009     4   Philadelphia
4      2009     5        Chicago
..      ...   ...            ...
916    2023     7     Pittsburgh
917    2023     7  San Francisco
918    2023     7        Seattle
919    2023     7      Tampa Bay
920    2023     7     Washington

[921 rows x 3 columns]

In [36]:
bye_weeks_df.to_excel("./Output/bye_weeks.xlsx")

In [37]:
bye_weeks_df.to_sql("bye_weeks",con=engine, if_exists="append",index=False)

921

## moneyline_results

In [38]:
with engine.connect() as connection:
    result = connection.execute(text("SELECT COUNT(*) FROM moneyline_results"))
    for row in result:
        print(row)

(3664,)

In [39]:
moneyline_results_df = (sqldf('''SELECT a.game_id
                    , a.season
                    , a.week
                    , a.day
                    , a.away_team
                    , 'W' as away_team_result
                    , a.away_moneyline_close
                    , a.away_score
                    , a.home_score
                    , a.home_moneyline_close
                    , 'L' as home_team_result
                    , a.home_team
                    , a.away_score - a.home_score as win_margin                    
                    , CASE
                        WHEN a.away_moneyline_close < 0
                           THEN ( 100 / away_moneyline_close * (-100) )
                           ELSE ( away_moneyline_close - 100 )
                        END as profit
                    , a.home_moneyline_close - 100 as loss
                    
                    
                FROM main_df as a
                WHERE ( a.away_score + 0 > a.home_score + 0 )
                UNION
                SELECT a.game_id
                    , a.season
                    , a.week
                    , a.day
                    , a.away_team
                    , 'L'
                    , a.away_moneyline_close
                    , a.away_score
                    , a.home_score
                    , a.home_moneyline_close
                    , 'W'
                    , a.home_team
                    , a.home_score - a.away_score
                    , 0
                    , 0
                FROM main_df as a
                WHERE ( a.away_score + 0 < a.home_score + 0 )
                UNION
                SELECT a.game_id
                    , a.season
                    , a.week
                    , a.day
                    , a.away_team
                    , 'P'
                    , a.away_moneyline_close
                    , a.away_score
                    , a.home_score
                    , a.home_moneyline_close
                    , 'P'
                    , a.home_team
                    , 0.0
                    , 0
                    , 0
                FROM main_df as a
                WHERE ( a.away_score + 0 = a.home_score + 0 )
                ORDER BY 1
            '''))
moneyline_results_df

,game_id,season,week,day,away_team,away_team_result,away_moneyline_close,away_score,home_score,home_moneyline_close,home_team_result,home_team,win_margin,profit,loss
0,66,2009,2,Thu,Tennessee,L,228.0,10,13,-260.0,W,Pittsburgh,3.0,0.0,0.0
1,67,2009,2,Sun,Miami,L,190.0,7,19,-210.0,W,Atlanta,12.0,0.0,0.0
2,68,2009,2,Sun,Kansas City,L,570.0,24,38,-700.0,W,Baltimore,14.0,0.0,0.0
3,69,2009,2,Sun,Philadelphia,W,-125.0,38,10,115.0,L,Carolina,28.0,80.0,15.0
4,70,2009,2,Sun,Denver,W,196.0,12,7,-222.0,L,Cincinnati,5.0,96.0,-322.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3659,4721292,2023,7,Sun,Arizona,L,320.0,10,20,-405.0,W,Seattle,10.0,0.0,0.0
3660,4721293,2023,7,Sun,L.A. Chargers,L,215.0,17,31,-260.0,W,Kansas City,14.0,0.0,0.0
3661,4721294,2023,7,Sun,Green Bay,L,100.0,17,19,-118.0,W,Denver,2.0,0.0,0.0
3662,4721295,2023,7,Sun,Miami,L,130.0,17,31,-154.0,W,Philadelphia,14.0,0.0,0.0
3663,4721296,2023,7,Mon,San Francisco,L,-310.0,17,22,250.0,W,Minnesota,5.0,0.0,0.0

In [40]:
moneyline_results_df.to_excel("./Output/moneyline_results.xlsx")

In [41]:
moneyline_results_df.to_sql("moneyline_results",con=engine, if_exists="append",index=False)

664

## spread_results

In [42]:
with engine.connect() as connection:
    result = connection.execute(text("SELECT COUNT(*) FROM spread_results"))
    for row in result:
        print(row)

(14656,)

In [43]:
spread_results_df = (sqldf('''SELECT a.game_id
                    , a.season
                    , a.week
                    , a.day
                    , a.away_team
                    , 'W' as away_team_result
                    , a.away_score
                    , a.away_spread_close
                    , a.home_score
                    , 'L' as home_team_result
                    , a.home_team
                    , a.away_score + a.away_spread_close - a.home_score as win_margin
                FROM main_df as a
                WHERE ( a.away_score + a.away_spread_close > a.home_score + 0 )
                UNION
                SELECT a.game_id
                    , a.season
                    , a.week
                    , a.day
                    , a.away_team
                    , 'L'
                    , a.away_score
                    , a.away_spread_close
                    , a.home_score
                    , 'W'
                    , a.home_team
                    , a.home_score - a.away_spread_close - a.away_score
                FROM main_df as a
                WHERE ( a.home_score - a.away_spread_close > a.away_score + 0 )
                UNION
                SELECT a.game_id
                    , a.season
                    , a.week
                    , a.day
                    , a.away_team
                    , 'P'
                    , a.away_score
                    , a.away_spread_close
                    , a.home_score
                    , 'P'
                    , a.home_team
                    , 0.0
                FROM main_df as a
                WHERE ( a.home_score - a.away_spread_close = a.away_score + 0 )
                ORDER BY 1
            '''))
spread_results_df

,game_id,season,week,day,away_team,away_team_result,away_score,away_spread_close,home_score,home_team_result,home_team,win_margin
0,66,2009,2,Thu,Tennessee,W,10,6.5,13,L,Pittsburgh,3.5
1,67,2009,2,Sun,Miami,L,7,4,19,W,Atlanta,8.0
2,68,2009,2,Sun,Kansas City,L,24,13,38,W,Baltimore,1.0
3,69,2009,2,Sun,Philadelphia,W,38,-1,10,L,Carolina,27.0
4,70,2009,2,Sun,Denver,W,12,4.5,7,L,Cincinnati,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...
3659,4721292,2023,7,Sun,Arizona,L,10,8.5,20,W,Seattle,1.5
3660,4721293,2023,7,Sun,L.A. Chargers,L,17,5.5,31,W,Kansas City,8.5
3661,4721294,2023,7,Sun,Green Bay,L,17,1,19,W,Denver,1.0
3662,4721295,2023,7,Sun,Miami,L,17,3,31,W,Philadelphia,11.0
3663,4721296,2023,7,Mon,San Francisco,L,17,-7,22,W,Minnesota,12.0

In [44]:
spread_results_df.to_excel("./Output/spread_results.xlsx")

In [45]:
spread_results_df.to_sql("spread_results",con=engine, if_exists="append",index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "away_spread_close" of relation "spread_results" does not exist
LINE 1: ...ek, day, away_team, away_team_result, away_score, away_sprea...
                                                             ^

[SQL: INSERT INTO spread_results (game_id, season, week, day, away_team, away_team_result, away_score, away_spread_close, home_score, home_team_result, home_team, win_margin) VALUES (%(game_id)s, %(season)s, %(week)s, %(day)s, %(away_team)s, %(away_team_result)s, %(away_score)s, %(away_spread_close)s, %(home_score)s, %(home_team_result)s, %(home_team)s, %(win_margin)s)]
[parameters: ({'game_id': 66, 'season': 2009, 'week': 2, 'day': 'Thu', 'away_team': 'Tennessee', 'away_team_result': 'W', 'away_score': '10', 'away_spread_close': '6.5', 'home_score': '13', 'home_team_result': 'L', 'home_team': 'Pittsburgh', 'win_margin': 3.5}, {'game_id': 67, 'season': 2009, 'week': 2, 'day': 'Sun', 'away_team': 'Miami', 'away_team_result': 'L', 'away_score': '7', 'away_spread_close': '4', 'home_score': '19', 'home_team_result': 'W', 'home_team': 'Atlanta', 'win_margin': 8.0}, {'game_id': 68, 'season': 2009, 'week': 2, 'day': 'Sun', 'away_team': 'Kansas City', 'away_team_result': 'L', 'away_score': '24', 'away_spread_close': '13', 'home_score': '38', 'home_team_result': 'W', 'home_team': 'Baltimore', 'win_margin': 1.0}, {'game_id': 69, 'season': 2009, 'week': 2, 'day': 'Sun', 'away_team': 'Philadelphia', 'away_team_result': 'W', 'away_score': '38', 'away_spread_close': '-1', 'home_score': '10', 'home_team_result': 'L', 'home_team': 'Carolina', 'win_margin': 27.0}, {'game_id': 70, 'season': 2009, 'week': 2, 'day': 'Sun', 'away_team': 'Denver', 'away_team_result': 'W', 'away_score': '12', 'away_spread_close': '4.5', 'home_score': '7', 'home_team_result': 'L', 'home_team': 'Cincinnati', 'win_margin': 9.5}, {'game_id': 71, 'season': 2009, 'week': 2, 'day': 'Sun', 'away_team': 'Minnesota', 'away_team_result': 'W', 'away_score': '34', 'away_spread_close': '-4', 'home_score': '20', 'home_team_result': 'L', 'home_team': 'Cleveland', 'win_margin': 10.0}, {'game_id': 72, 'season': 2009, 'week': 2, 'day': 'Sun', 'away_team': 'N.Y. Jets', 'away_team_result': 'W', 'away_score': '24', 'away_spread_close': '4.5', 'home_score': '7', 'home_team_result': 'L', 'home_team': 'Houston', 'win_margin': 21.5}, {'game_id': 73, 'season': 2009, 'week': 2, 'day': 'Sun', 'away_team': 'Detroit', 'away_team_result': 'L', 'away_score': '27', 'away_spread_close': '14', 'home_score': '45', 'home_team_result': 'W', 'home_team': 'New Orleans', 'win_margin': 4.0}  ... displaying 10 of 3664 total bound parameter sets ...  {'game_id': 4721295, 'season': 2023, 'week': 7, 'day': 'Sun', 'away_team': 'Miami', 'away_team_result': 'L', 'away_score': '17', 'away_spread_close': '3', 'home_score': '31', 'home_team_result': 'W', 'home_team': 'Philadelphia', 'win_margin': 11.0}, {'game_id': 4721296, 'season': 2023, 'week': 7, 'day': 'Mon', 'away_team': 'San Francisco', 'away_team_result': 'L', 'away_score': '17', 'away_spread_close': '-7', 'home_score': '22', 'home_team_result': 'W', 'home_team': 'Minnesota', 'win_margin': 12.0})]
(Background on this error at: https://sqlalche.me/e/14/f405)